/* ---- */
/* FONT */
/* ---- */

/* On narrow screens, the scale between p, h2, and h1 is about the golden number (1.62)*/
.P {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.H2 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.H1 {
  font-size: 52px;
  font-weight: normal;
  margin-bottom: 0.25em;
}

/* On wide screens, the scale between p, h2, and h1 is about e (2.72) */
@media only screen and (min-width: 900px) {
  .H2 {
    font-size: 54px;
  }

  .H1 {
    font-size: 148px;
  }
}

/*
To transition, we use the following formula:
MINpx + (MAX - MIN) * (100vw - LOWERpx) / (UPPER - LOWER)
where:
MIN = min value
MAX = max value
LOWER = min-width
UPPER = max-width
change calc formulas manually if any parameters change!
*/
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .H2 {
    font-size: calc(32px + (54 - 32) * (100vw - 600px) / (900 - 600));
  }

  .H1 {
    font-size: calc(52px + (148 - 52) * (100vw - 600px) / (900 - 600));
  }
}

/* ------ */
/* HEADER */
/* ------ */

.Header {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

/* ---- */
/* MAIN */
/* ---- */
.Main {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

/* ---- */
/* NAV */
/* ---- */

.Nav {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
