/* ------- */
/* GENERAL */
/* ------- */

:root {
  --purple: hsl(270, 50%, 50%);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 20px;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  min-height: 100vh;
  min-width: 300px;
}

.ScreenreaderOnly {
  position: absolute;
  left: -9999px;
}

/* ---- */
/* FONT */
/* ---- */

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: var(--purple);
}

.LightTextDarkBackground {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

/* ---- */
/* NAV */
/* ---- */

.Nav_ol {
  list-style-type: none;
}

.Nav_li {
  margin-bottom: 0.3em;
}

/* ------ */
/* FOOTER */
/* ------ */

.Footer {
  background-color: var(--purple);
  margin-top: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.P___footer {
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
